@{
    ViewBag.Title = "Alterar cadastro de funcionário";
    ViewBag.Style = "alterarcadPage.css";
}
<body>
    <main>
        <div class="container_pesquisa">
            <button id="button_home">
                <a href="ferqyfq.html">
                    <img src="~/Content/images/icon_home.png">
                </a>
            </button>

            <button id="button_notificacao">
                <a href="ferqyfq.html">
                    <img src="~/Content/images/icon_notificacao.png">
                </a>

            </button>

            <div id="div_identificacao">
                <img src="~/Content/images/Chagasperfil.png">
                <p>Beatriz Chagas</p>
                <div id="div_indifica_role">
                    <p>Linda</p>
                </div>
            </div>

            <div id="divBusca">
                <input type="text" id="txtBusca" img src="~/Content/images/lupapesquisa.png">
                <img id="imgBusca" src="~/Content/images/lupapesquisa.png" width="30px" id="btnBusca" alt="Buscar">
            </div>
        </div>

        <div class="container_menu_content">
            <div class="container_menu">
                <nav class="menu">
                    <img id="framming_logo_menu" src="~/Content/images/framminglogo.png" />
                    <ul>
                        <div class="menu_container">
                            <button id="button_cliente_menu">
                        <li><a href="ferqyfq.html"><img src="~/Content/images/icon_cliente.png"></a></li></button>
                        <button id="button_mensagens_menu">
                        <li><a href="#"><img src="~/Content/images/icon_mensagens.png"></a></li></button>
                        <button id="button_identificacao_menu">
                        <li><a href="#"><img src="~/Content/images/icon_identificacao.png"></a></li></button>
                        <button id="button_theater_menu">
                        <li><a href="#"><img src="~/Content/images/theater.png"></a></li></button>
            </div>
            </ul>
            <ul>
                <div class="buttons_sair_configuracao">
                    <button id="button_sair_menu">
                <li><a href="#"><img src="~/Content/images/icon_saida.png"></a></li></button>
                <button id="button_configuracao_menu">
                <li><a href="#"><img src="~/Content/images/configuracao.png"></a></li></button>
        </div>
        </ul>
        </nav>

        </div>
        <div class="container_content">
            <div class="container_main">
                <div class="codigo_cinema">
                    <img id="foto_codigo_func" src="~/Content/images/icon_identifica_func.png" />
                    <p id="cod_cinema_p">Código Cinema:</p>
                    <p id="cod_nome_p">Nome:</p>
                    <p id="cod_email_p">Email:</p>
                    <p id="cod_senha_p">Senha:</p>
                </div>

                <p id="codigo_cadastro_func_p">Cadastro de Funcionário</p>

                <p id="codigo_func_p">Código do Cinema:</p>
                <input id="codigo_func" type="text" id="txtBusca" placeholder="0000">
                <img id="codigo_func_img" src="~/Content/images/icon_codigo.png" width="35px">

                <p id="codigo_nome_p">Nome:</p>
                <input id="nome_func" type="text" id="txtBusca" placeholder="Nome" />
                <img id="nome_func_img" src="~/Content/images/icon_theater.png" width="35px">

                <p id="codigo_email_p">Email:</p>
                <input id="email_func" type="text" id="txtBusca" img src="img/lupapesquisa.png" placeholder="exemplo@email.com" />
                <img id="email_func_img" src="~/Content/images/icon_email.png" width="35px">

                <p id="codigo_senha_p">Senha:</p>
                <input id="senha_func" type="text" id="txtBusca" img src="img/lupapesquisa.png" placeholder="*******" />
                <img id="senha_func_img" src="~/Content/images/icon_chave.png" width="35px">

                <p id="codigo_Confime_p">Confirme a Senha:</p>
                <input id="confirma_senha_func" type="text" id="txtBusca" img src="img/lupapesquisa.png" placeholder="*******" />
                <img id="confirma_senha_func_img" src="~/Content/images/icon_chave.png" width="35px">

                <img id="foto_cadastro_func" src="~/Content/images/foto_cadastro_func.png" />
                <button id="cadastre_func">Cadastrar</button>
            </div>
        </div>
        </div>

    </main>
</body>