@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body {
    background-color: #DEDEDE;
}

.container_pesquisa {
    display: grid;
    grid-template-columns: 4% 15px 17%;
    grid-template-rows: 30px 40px 50px;
    padding-left: 180px;
    grid-column-gap: -20px;
}

#divBusca {
    border-radius: 65px;
    border: none;
    background: #E9E9E9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 600px;
    height: 50px;
    padding-top: 1px;
    grid-column: 4;
    grid-row: 2;
    margin-left: -90px;
}

    #divBusca button {
        background: transparent;
        border: none;
        font-size: 0;
        margin-left: 30px;
        grid-row: 1;
        width: 100px;
        height: 40px;
    }

    #divBusca img {
        margin-top: 10px;
        margin-left: 7px;
    }

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 8px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 30px;
    width: 540px;
    outline: 1;
}

#imgBusca {
    margin-top: 5px;
}

#button_home {
    display: grid;
    grid-column: 3;
    grid-row: 2;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #E9E9E9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
}

    #button_home img {
        width: 30px;
        height: 30px;
        align-self: center;
        place-items: center;
        grid-column: 2;
        grid-row: 1;
        margin-top: 8px;
    }

#button_notificacao {
    display: grid;
    grid-column: 5;
    grid-row: 2;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #E9E9E9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
}

    #button_notificacao img {
        width: 30px;
        height: 30px;
        align-self: center;
        place-items: center;
        grid-column: 3;
        grid-row: 1;
        margin-top: 8px;
    }



#div_identificacao {
    display: grid;
    grid-column: 6;
    grid-row: 2;
    margin-left: 30px;
    width: 308px;
    height: 60px;
    border-radius: 67px;
    background-color: #E9E9E9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

    #div_identificacao img {
        width: 42px;
        height: 42px;
        grid-column: 3;
        margin-top: 10px;
    }

#div_indifica_role {
    width: 180px;
    height: 22px;
    transform: rotate(-0.045deg);
    border-radius: 15px;
    grid-column: 2;
    grid-row: 2;
    margin-left: -175px;
    margin-top: -25px;
    align-items: center;
    background: #D9D9D9;
}

#div_identificacao p {
    color: #373737;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135.5%; /* 20.325px */
    margin-top: -46px;
    margin-left: 65px;
}

#div_indifica_role p {
    color: #4F4F4F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135.5%;
    margin-top: 2px;
    text-align: start;
}

.menu {
    display: grid;
    grid-template-columns: repeat(1,9fr);
    margin-left: 30px;
}

.container_menu {
    display: grid;
    grid-template-columns: 110px 5fr;
    grid-gap: 20px;
    min-height: 95vh;
    margin-top: -90px;
    grid-column: 1;
    margin-left: 60px;
    margin-top: -95px;
}

.menu {
    display: grid;
    grid-column: 1;
    border-radius: 26px;
    background: #F66;
    height: 91vh;
    width: 130px;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 5px;
    margin-left: -10px;
    grid-template-rows: repeat(9,0fr);
}

#framming_logo_menu {
    place-items: center;
    margin-left: 25px;
    margin-top: 10px
}


#button_cliente_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 40px;
    grid-row: 1;
    margin-top: 40px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

    #button_cliente_menu img {
        width: 45px;
        height: 45px;
    }

#button_mensagens_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 34px;
    grid-row: 1;
    margin-top: 50px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

    #button_mensagens_menu img {
        width: 60px;
        height: 65px;
        opacity: 0.51;
    }


#button_identificacao_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 40px;
    grid-row: 1;
    margin-top: 50px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

    #button_identificacao_menu img {
        width: 45px;
        height: 45px;
        opacity: 0.51;
    }


#button_theater_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 40px;
    grid-row: 1;
    margin-top: 58px;
    width: 40px;
    height: 40px;
}

    #button_theater_menu img {
        width: 45px;
        height: 45px;
        opacity: 0.51;
    }

.buttons_sair_configuracao {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-rows: repeat(2,5px);
    grid-template-columns: repeat(2,5fr);
    margin-top: 17vh;
}

#button_sair_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 36px;
    grid-row: 2;
    grid-column: 1;
    margin-left: 18px;
    width: 40px;
    height: 40px;
}

#button_configuracao_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 36px;
    grid-row: 2;
    margin-left: -1px;
    width: 20px;
    height: 20px;
}

    #button_configuracao_menu img {
        width: 36px;
        height: 36px;
    }

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.content {
    background-color: #f0f0f0;
    padding: 20px;
}

.container_menu_content {
    display: grid;
    grid-template-columns: repeat(4,140px);
    grid-template-rows: repeat(2,1px);
    grid-row-start: 2;
    padding: auto;
    margin-right: -5px;
}

.container_content {
    display: grid;
    grid-row: 1;
    width: 162vh;
    height: 78vh;
    border-radius: 28px;
    background: #E9E9E9;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    grid-column: 3;
    margin-left: 5px;
    margin-top: 30px;
}

.container_main {
    display: grid;
    grid-template-columns: repeat(15, 100px);
    grid-template-rows: repeat(25,29px);
}

.codigo_cinema {
    width: 319px;
    height: 610px;
    grid-column: 2;
    grid-row: 2;
    border-radius: 16px;
    background: #DDD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


#codigo_func {
    width: 379px;
    height: 56px;
    border-radius: 7px;
    background: #E3E3E3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    grid-column: 6;
    border: none;
    grid-row: 6;
    padding-left: 46px;
}

#codigo_func_img {
    margin-top: 127px;
    margin-left: -228px;
}


#nome_func {
    width: 379px;
    height: 56px;
    border-radius: 7px;
    background: #E3E3E3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    grid-column: 6;
    border: none;
    grid-row: 10;
    padding-left: 46px;
}

#nome_func_img {
    margin-top: 214px;
    margin-left: -325px;
}

#email_func {
    width: 379px;
    height: 56px;
    border-radius: 7px;
    background: #E3E3E3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    grid-column: 6;
    border: none;
    grid-row: 14;
    padding-left: 46px;
}

#email_func_img {
    margin-top: 303px;
    margin-left: -424px;
}

#senha_func {
    width: 379px;
    height: 56px;
    border-radius: 7px;
    background: #E3E3E3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    grid-column: 6;
    border: none;
    grid-row: 18;
    padding-left: 46px;
}

#senha_func_img {
    margin-top: 388px;
    margin-left: -522px;
}

#confirma_senha_func {
    width: 379px;
    height: 56px;
    border-radius: 7px;
    background: #E3E3E3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    grid-column: 6;
    border: none;
    grid-row: 22;
    padding-left: 46px;
}

#confirma_senha_func_img {
    margin-top: 474px;
    margin-left: -624px;
}

#cadastre_func {
    width: 257px;
    height: 56px;
    border: none;
    border-radius: 11px;
    background: #EDA8A8;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.5%; /* 27.255px */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    grid-column: 11;
    grid-row: 11;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 5px;
}

    #cadastre_func:hover {
        background-color: #FF6666;
    }


#foto_cadastro_func {
    grid-column: 11;
    grid-row: 4;
    margin-left: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#div_perfil_codigo_func {
    grid-column: 11;
    grid-row: 3;
    margin-left: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#cod_cinema_p {
    color: #181818;
    margin-left: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%;
}

#codigo_cadastro_func_p {
    grid-column: 8;
    width: 600px;
    color: #242424;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.5%; /* 35.55px */
}

#codigo_func_p {
    grid-column: 6;
    grid-row: 4;
    margin-left: 95px;
    margin-top: 30px;
    width: 180px;
    color: #353535;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 118.5%; /* 27.255px */
}

#codigo_nome_p {
    grid-column: 6;
    grid-row: 8;
    margin-left: 40px;
    margin-top: 30px;
    width: 180px;
    color: #353535;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 118.5%;
}

#codigo_email_p {
    grid-column: 6;
    grid-row: 12;
    margin-left: 40px;
    margin-top: 30px;
    width: 180px;
    color: #353535;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 118.5%;
}

#codigo_senha_p {
    grid-column: 6;
    grid-row: 16;
    margin-left: 40px;
    margin-top: 30px;
    width: 180px;
    color: #353535;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 118.5%;
}

#codigo_Confime_p {
    grid-column: 6;
    grid-row: 20;
    margin-left: 95px;
    margin-top: 30px;
    width: 180px;
    color: #353535;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 118.5%;
}

#cod_nome_p, #cod_email_p, #cod_senha_p, #cod_cinema_p {
    color: #181818;
    margin-left: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%;
}



@media screen and (min-width:961px) {

    #foto_cadastro_func {
        grid-column: 12;
        margin-left: 100px;
    }

    #cadastre_func {
        grid-column: 12;
        margin-left: 70px;
    }

    #codigo_func, #nome_func, #email_func, #senha_func, #confirma_senha_func {
        width: 425px;
        grid-column: 7;
    }

    .codigo_cinema {
        grid-row: 3;
        width: 372px;
    }

    #button_sair_menu, #button_configuracao_menu {
        margin-top: 70px
    }

    .container_pesquisa {
        margin-left: 40px;
    }
}

@media screen and (min-width:751px) {
    #button_sair_menu, #button_configuracao_menu {
        margin-top: -75px;
    }

    .codigo_cinema {
        width: 319px;
        height: 510px;
        grid-row: 2;
        margin-top: 10px;
        margin-left: -20px;
    }

    .container_content {
        margin-top: 3px;
        margin-left: -2px;
    }

    .container_pesquisa {
        padding-left: 150px;
    }

    #div_identificação {
        margin-left: -42px;
    }

    #button_notificacao {
        margin-left: -59px;
    }

    #codigo_func {
        grid-row: 5;
        grid-column: 6;
        margin-left: -30px;
        width: 400px;
    }

    #nome_func {
        grid-row: 8;
        grid-column: 6;
        margin-left: -30px;
        width: 400px;
    }

    #email_func {
        grid-row: 11;
        grid-column: 6;
        margin-left: -30px;
        width: 400px;
    }

    #senha_func {
        grid-row: 14;
        grid-column: 6;
        margin-left: -30px;
        width: 400px;
    }

    #confirma_senha_func {
        grid-row: 17;
        grid-column: 6;
        margin-left: -30px;
        width: 400px;
    }

    #codigo_cadastro_func_p {
        grid-column: 7;
    }

    #codigo_func_p {
        font-size: 15px;
        grid-column: 6;
        margin-left: -46px;
        margin-top: 11px;
    }

    #codigo_email_p {
        grid-column: 5;
        margin-left: 3px;
        margin-top: -45px;
        font-size: 15px;
    }

    #codigo_nome_p {
        grid-column: 6;
        font-size: 15px;
        margin-left: -95px;
        margin-top: -20px;
    }

    #codigo_senha_p {
        margin-left: -92px;
        margin-top: -76px;
        font-size: 15px
    }

    #codigo_Confime_p {
        margin-left: -50px;
        margin-top: -105px;
        font-size: 15px
    }

    #foto_cadastro_func {
        grid-column: 10;
        margin-left: 68px;
    }

    #cadastre_func {
        grid-column: 10;
        margin-left: 32px;
    }

    .container_content {
        margin-left: -38px;
    }

    .menu {
        margin-left: -13px;
    }

    .container_main {
        width: 100px;
    }
}

@media screen and (min-width:723.33px) {

    #button_sair_menu, #button_configuracao_menu {
        margin-top: -95px;
    }

    #button_configuracao_menu {
        margin-top: -97px;
    }

    .codigo_cinema {
        width: 278px;
        margin-top: -3px;
        margin-left: -60px;
    }

    #foto_codigo_func {
     
    }

    #codigo_func_p {
        margin-left: -167px;
    }

    #codigo_nome_p {
        margin-left: -217px;
    }

    #codigo_email_p {
        margin-left: -118px;
    }

    #codigo_senha_p {
        margin-left: -215px;
    }

    #codigo_Confime_p {
        margin-left: -167px;
    }

    #codigo_func, #nome_func, #email_func, #senha_func, #confirma_senha_func {
        margin-left: -150px;
        width: 353px;
    }

    #codigo_cadastro_func_p {
        grid-column: 6;
        margin-left: -41px;
    }

    #cod_nome_p, #cod_email_p, #cod_senha_p, #cod_cinema_p {
        font-size: 17px;
    }

    #cadastre_func {
        grid-column: 10;
        margin-left: -65px;
    }
    #codigo_func_img {
        margin-left: -244px;
    }
    #nome_func_img {
        margin-left: -341px;
    }
    #email_func_img {
        margin-top: 303px;
        margin-left: -442px;
    }
    #senha_func_img {
        margin-top: 388px;
        margin-left: -542px;
    }
    #confirma_senha_func_img {
        margin-top: 475px;
        margin-left: -642px;
    }
  
    #foto_cadastro_func {
        margin-left: -24px;
    }
    #txtBusca {
         width: 473px;
    }
    #divBusca {
        width: 532px
    }
    #button_notificacao {
        margin-left: 8px;
    }
    #div_identificacao {
        margin-left: -10px;
    }
}
