* {
    margin: 0;
}

body {
    background-color: #DEDEDE;
}

#login {
    width: 981px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #F0F0F0;
    box-shadow: -5px 10px 20px 10px rgba(0, 0, 0, 0.13);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icone {
    width: 73.5px;
    height: 75.625px;
    flex-shrink: 0;
    margin-left: 50px;
    margin-top: 30px;
    box-shadow: 10px 0px 20px 6px rgba(0, 0, 0, 0.13);
    border-radius: 100%;
}

#login p {
    width: 392px;
    height: 87px;
    flex-shrink: 0;
    color: #434343;
    font-family: 'Poppins';
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 150px;
    margin-top: -80px;
}

#login h5 {
    width: 392px;
    height: 87px;
    flex-shrink: 0;
    color: #434343;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 150px;
    margin-top: -40px;
}

#imglogin {
    width: 398px;
    height: 398px;
    flex-shrink: 0;
    margin-left: 50px;
    margin-top: -50px;
}


div.btn-container i {
    display: inline-block;
    position: relative;
    margin-left: 750px;
    margin-top: 140px;
}

label {
    color: white;
    font-weight: 500;
    font-family: Poppins;
    font-size: 15px;
    text-align: center;
}

.btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
}

    .btn-color-mode-switch > label.btn-color-mode-switch-inner {
        margin: 0px;
        width: 295px;
        height: 35px;
        background: #E0E0E0;
        border-radius: 26px;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease;
        /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
        display: block;
    }

        .btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
            content: attr(data-on);
            position: absolute;
            color: #5B5B5B;
            right: 20px;
            margin-top: 5px;
            margin-left: 30px;
            font-weight: 500;
            font-family: Poppins;
            font-size: 15px;
            text-align: center;
        }

        .btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
            content: attr(data-off);
            width: 145px;
            height: 25px;
            background: #FF6666;
            border-radius: 26px;
            position: absolute;
            left: 2px;
            text-align: center;
            transition: all 0.3s ease;
            box-shadow: 0px 0px 6px -2px #111;
            padding: 5px 0px;
        }



    .btn-color-mode-switch input[type="checkbox"] {
        cursor: pointer;
        width: 240px;
        height: 25px;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 1;
        margin: 0px;
    }



        .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
            content: attr(data-on);
            left: 150px;
            background: #FF6666;
        }

        .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
            content: attr(data-off);
            right: auto;
            left: 20px;
        }


#caixa {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E2E2E2;
    box-shadow: 0 0 0 0;
    border: 0 none;
    padding-left: 50px;
    background-image: url(img/senhalogin.png);
    background-position: left;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 750px;
    margin-top: -70px;
}

#caixa2 {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E2E2E2;
    box-shadow: 0 0 0 0;
    border: 0 none;
    padding-left: 50px;
    background-image: url(img/emaillogin.png);
    background-position: left;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 750px;
    margin-top: -45px;
}

#butlogin {
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F66;
    margin-left: 750px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    margin-top: 30px;
    position: absolute;
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#coisa1 {
    margin-top: -900px;
    width: 430px;
    height: 660px;
    position: static;
    margin-left: -60px;
    display: inline-block;
}

#coisa2 {
    margin-top: -380px;
    width: 700px;
    height: 660px;
    margin-left: -650px;
    display: inline-block;
}

#coisa3 {
    margin-top: -700px;
    width: 600px;
    height: 600px;
    position: unset;
    margin-left: 548px;
    display: inline-block;
}

#coisa4 {
    margin-top: -410px;
    width: 600px;
    height: 600px;
    position: inherit;
    margin-left: 548px;
    display: inline-block;
}

.esquerdafundo {
    margin-top: -210px;
}

.direitafundo {
    margin-left: 201px;
}

#pcheck p {
    color: var(--Black, #2F2F2F);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left: 17px;
    margin-top: -18px;
    line-height: 135.5%; /* 16.26px */
}

.checklembre {
    margin-top: -300px;
    margin-left: 755px;
    position: relative;
}

#butesqueceu {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #F66;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%; /* 16.26px */
}

.forgotsenha {
    margin-top: -18px;
    margin-left: 912px;
    position: relative;
}

.registre {
    margin-left: 800px;
    margin-top: 100px;
    position: relative;
}

    .registre p {
        color: #000;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 135.5%; /* 21.68px */
    }

#butregistre {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #F66;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%; /* 16.26px */
    margin-left: 140px;
}

.butreg {
    margin-top: -18px;
}

#caixacad1 {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E2E2E2;
    box-shadow: 0 0 0 0;
    border: 0 none;
    padding-left: 50px;
    background-image: url(img/nomecad.png);
    background-position: left;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 750px;
    margin-top: -120px;
}

#caixacad2 {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E2E2E2;
    box-shadow: 0 0 0 0;
    border: 0 none;
    padding-left: 50px;
    background-image: url(img/usuacad.png);
    background-position: left;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 750px;
    margin-top: -100px;
}

#caixacad3 {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E2E2E2;
    box-shadow: 0 0 0 0;
    border: 0 none;
    padding-left: 50px;
    background-image: url(img/emaillogin.png);
    background-position: left;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 750px;
    margin-top: -80px;
}

#caixacad4 {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E2E2E2;
    box-shadow: 0 0 0 0;
    border: 0 none;
    padding-left: 50px;
    background-image: url(img/senhalogin.png);
    background-position: left;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 750px;
    margin-top: -60px;
}

#caixacad5 {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E2E2E2;
    box-shadow: 0 0 0 0;
    border: 0 none;
    padding-left: 50px;
    background-image: url(img/senhalogin.png);
    background-position: left;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 750px;
    margin-top: -40px;
}

#butlogicad {
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F66;
    margin-left: 750px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    margin-top: -9px;
    position: absolute;
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.registre2 {
    margin-left: 800px;
    margin-top: 60px;
    position: relative;
}

    .registre2 p {
        color: #000;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 135.5%; /* 21.68px */
    }

#butregistre2 {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #F66;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%; /* 16.26px */
    margin-left: 140px;
}

.butreg2 {
    margin-top: -18px;
}

#coisa22 {
    margin-top: -380px;
    width: 700px;
    height: 660px;
    margin-left: -650px;
    display: inline-block;
}

#coisa32 {
    margin-top: -800px;
    width: 600px;
    height: 610px;
    position: unset;
    margin-left: 548px;
    display: inline-block;
    position: static;
}

#coisa42 {
    margin-top: -640px;
    width: 600px;
    height: 600px;
    position: inherit;
    margin-left: 548px;
    display: inline-block;
    position: static;
}

#coisa12 {
    margin-top: -200px;
    width: 430px;
    height: 660px;
    position: static;
    margin-left: -60px;
    display: inline-block;
}

.esquerdafundo2 {
    margin-top: -410px;
}

.direitafundo2 {
    margin-left: 201px;
}
